# Copy this file to .env and fill in the values

# Change the values of the variables below to match your local environment

# Server
SERVER_PORT=9000
SERVER_HOST=localhost # <- Change this to your local IP address

# Client
CLIENT_PORT=3000
